/dandy-api/target/
/dandy-dao/target/
/dandy-module/target/
/dandy-android/target/
/test.db:memory:
/dandy-publisher/target/
*.iml
*.ipr
*.iws
/andrupal-parent.iml
/dandy-api/dandy-api.iml
/dandy-dao/dandy-dao.iml
/dandy-publisher/dandy-publisher.iml
/dandy-dao/test.db:memory:
/target/