<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.workhabit.drupal.publisher" android:versionCode="1">
    <application android:icon="@drawable/icon" android:label="andrupal"
            android:name="com.workhabit.drupal.AnDrupalApplication">
        <!--<activity android:name=".DrupalLoginActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>-->
        <activity android:name=".DrupalLoginActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".DrupalNodeListActivity" android:label="@string/recent"/>
        <activity android:name=".DrupalNodeActivity"/>
        <activity android:name=".DrupalTaxonomyListActivity" android:label="@string/categories"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
